name: selenium

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  # pull_request:
  #   branches: [ main ]
  schedule:
    - cron: '00 00 * * *'
  # Allows you to run this workflow manually from the Actions tab
#  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
           python-version: 3.6
      - name: 'Install requirements'
        run: |
          pip install --upgrade pip
          pip install -r ./requirements.txt
        
      - name: Prepare chromedriver
        uses: nanasess/setup-chromedriver@v1
        
      - name: 'Working'
        run: |
          python3 ./stmcuAutoDownload.py
          sudo rm -rf ./*.pdf
          sudo rm -rf ./*.zip
          
      - uses: eunchurn/action-publish@v1.1.1
        env:
           GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
           BRANCH_NAME: 'main' #optional defaults to master
           USER_NAME: 'Automated publisher' #optional defaults to "Automated publisher"
           USER_EMAIL: 'https://github.com/zhangyinxi/create.git' #optional defaults to "actions@users.noreply.github.com"
